.root {
  display: flex;
  min-width: 0;
  min-height: 0;
}

.tabBar {
  display: flex;
}

.panelContainer {
  overflow: hidden;
  position: relative;
}

.panelTrack {
  display: flex;
  will-change: transform;
}

.panelItem {
  overflow: hidden;
}

.snapPanelContainer::-webkit-scrollbar {
  display: none;
}
